<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231569168072-cjo0icn3qa6c3a6ab8p5vv8s6824mklc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231569168072-cjo0icn3qa6c3a6ab8p5vv8s6824mklc</string>
	<key>API_KEY</key>
	<string>AIzaSyBsx3BeH4QoDKTCwcHBIJw8QATw4_asPQU</string>
	<key>GCM_SENDER_ID</key>
	<string>231569168072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hoteldise</string>
	<key>PROJECT_ID</key>
	<string>hoteldise-adab9</string>
	<key>STORAGE_BUCKET</key>
	<string>hoteldise-adab9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231569168072:ios:d8649723102bad070537fd</string>
</dict>
</plist>